* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: auto;
  font-family: sans-serif;
  background-color: #fafafa;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #2196f3;
}

.content {
  max-width: 1268px;
  margin: 0 auto;
  padding: 0 16px;
}

.table {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  background-color: white;
  border-collapse: collapse;
}

.table td, th {
  padding: 16px;
}

.table th {
  text-align: left;
}

.table tr {
  border-top: 1px solid #e5e5e5;
}

.table tr:hover {
  background-color: #f8f8f8;
}

.table__right {
  text-align: right;
}

.hash {
  font-family: monospace;
  font-size: 18px;
}

.hash__part {
  letter-spacing: -8px;
  display: inline-block;
  width: 0.7em;
  height: 1em;
  color: transparent;
  padding: 0;
}
